name: Build-Wasm
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        run: |
          rustup toolchain install stable
          rustup target add wasm32-wasip1
      - name: Build
        run: cargo build --target wasm32-wasip1 --release
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: gcore-binary
          path: target/wasm32-wasip1/release/*.wasm
